
<header class="time">

</header>

<main>


    <section class="card-top">

        <p class="time">7:00 AM</p>

        <p class="num-golfers"><img src="/st-ann-golf-course/public/num_golfers.png"/> 1 - 4</p>

        <p class="num-holes"><img src="/st-ann-golf-course/public/flag.png"/> 9</p>

    
    </section>


    <section class="card-mid">
        
        <p>St. Ann Golf Course</p>

        <p class="price">$15 - $22</p>
    </section>

    <section class="card-bot">
        
        <button> Book Time</button>
    </section>

    

</main>
