


<div class="book-time-panel">

    <header class="book-time-panel-header">
        <p>St. Ann Golf Course</p>
        <p>at 8:00 AM, Tuesday, November 26</p>
        <button id="book-time-panel-x">X</button>
        <p>Select Rate</p>
    </header>
    

    <section class="book-time-panel-select-rate">

        <div class="book-time-panel-selection">
            <div class="book-time-panel-selection-top">
                <span id="book-time-panel-selection-price">$22.00</span>
                <span id="book-time-panel-selection-holes">9 Holes</span>
            </div>
            <div class="book-time-panel-selection-bot">
                <span>1-4</span>
                
                <span>Cart</span>
                <button>Select Rate</button>
            </div>
        </div>
    
        <div class="book-time-panel-selection">
            <div class="book-time-panel-selection-top">
                <span id="book-time-panel-selection-price">$15.00</span>
                <span id="book-time-panel-selection-holes">9 Holes</span>
            </div>
            <div class="book-time-panel-selection-bot">
                <span>1-4</span>
                
                <span>Walking</span>
                <button>Select Rate</button>
            </div>
        </div>

    </section>

    <section>

        <h3>Tee Time Description</h3>

        <p>Please arrive at least 15 minutes prior to your scheduled time to check in at the clubhouse.</p>
        <p>Green fees includes golf (and cart, if applicable). Weekday and weekend prices may differ.</p>
        <p>Please note that there may be a slight delay in your tee time based on availabiliy to accommodate pace 
            of play. We will do our best to get you out as close to your scheduled time as possible. Thank you 
            for understanding and we look forward to seeing you.
        </p>
    </section>

    <section class="book-time-panel-select-golfers">
        <h3>Select Number of Golfers</h3>

        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>4</button>
    </section>

    <section class="book-time-panel-confirm">

        <button id="book-time-panel-add-to-cart">Add to Cart</button>
        <br>
        <button id="book-time-panel-close">Close</button>
    </section>
    

</div>
