


<section class="banner">

    <h1>Welcome to St. Ann Golf Course</h1>


    <div class="banner-buttons">
        <button>BOOK A TEE TIME</button>

        <button>COURSE DETAILS</button>
    </div>
    

</section>


<section class="middle">

    <div>
        <h2>St. Ann Golf Course located in St. Ann, MO</h2>

        <p>This course contains a 34 par, nine hole course, totaling 55 scenic acres 
            with a total yardage of 2,696. The course remains open all year long, weather 
            permitting, and with the exception of Christmas and New Years Day.</p>
    </div>

    <div>
        <img src="/st-ann-golf-course/public/logo.JPG"/>
    </div>


</section>



