


<section class="banner">

    <!-- <img src="/scenic3.JPG"/> -->

    <div class="banner-content">

        <div class="banner-header">
            <h2>Welcome to</h2>
            <h1>St. Ann Golf Course</h1>
        </div>
        


        <div class="banner-buttons">
            <button>BOOK A TEE TIME</button>
    
            <button>COURSE DETAILS</button>
        </div>

    </div>


</section>


<section class="middle">

    <div class="middle-text">
        <h2>St. Ann Golf Course located in St. Ann, MO</h2>

        <p>Built in 1953, this course contains a 34 par, nine hole course, totaling 55 scenic acres 
            with a total yardage of 2,696. The course remains open all year long, weather 
            permitting, and with the exception of Christmas and New Years Day.</p>
    </div>

    <div class="middle-img">
        <img src="/scenic2.JPG"/>
    </div>


</section>


<p class="home-map">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6224.568775444816!2d-90.38388988789731!3d38.73423577164156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87df33fdb6c80435%3A0x610670d5e0d4666e!2sSt.%20Ann%20Golf%20Course!5e0!3m2!1sen!2sus!4v1732689358506!5m2!1sen!2sus" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</p>



