


<header class="filter-header">

    <p>Filters</p>
    <button>Reset All</button>
</header>


<main class="filter-content">

    
    <!-- CALENDAR component -->

    <section class="filter-time">

        <div class="filter-time-header">
            <span>Time</span>
            <button>Reset</button>
        </div>

        <div class="filter-time-content">
            <select title="Start"></select>
            <span> - </span>
            <select title="End"></select>
        </div>
        
    </section>

    <section class="filter-price">

        <div class="filter-price-header">
            <span>Price</span>
            <button>Reset</button>
        </div>

        <div class="filter-price-content">
            <input type="range"/>
        </div>

    </section>

    <section class="filter-golfers">

        <div class="filter-golfers-header">
            <span>Golfers</span>
            <button>Reset</button>
        </div>

        <div class="filter-golfers-content">
            <button>Any</button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
        </div>

    </section>

    <section class="filter-transportation">
        <div class="filter-golfers-header">
            <span>Transportation</span>
            <button>Reset</button>
        </div>

        <div class="filter-golfers-content">
            <button>Cart</button>
            <button>Walk</button>
            
        </div>
    </section>

</main>
