
<div class="course-details">

    <h1>Course Details</h1>


    <div class="holes-grid">

        <div class="hole-card-wrapper">

            <mat-card class="hole-card" appearance="outlined">
    
                <mat-card-header>
                  <mat-card-title>Hole One</mat-card-title>
                </mat-card-header>
    
                <mat-card-content>
                  <p>{{hole1}}</p>
                </mat-card-content>
    
                <mat-card-footer class="hole-card-footer">
                  <mat-chip-set>
                    <mat-chip>Yards: 273</mat-chip>
                    <mat-chip>Par: 4</mat-chip>
                    <mat-chip>Handicap: 7</mat-chip>
                  </mat-chip-set>
                </mat-card-footer>
    
              </mat-card>
    
        </div>

        <div>
            <img src="/scenic1.JPG"/>
        </div>
        

        <div>
            <img src="/scenic1.JPG"/>
        </div>
    
        <div class="hole-card-wrapper">
    
            <mat-card class="hole-card" appearance="outlined">
    
                <mat-card-header>
                  <mat-card-title>Hole Two</mat-card-title>
                </mat-card-header>
    
                <mat-card-content>
                  <p>{{hole2}}</p>
                </mat-card-content>
    
                <mat-card-footer class="hole-card-footer">
                  <mat-chip-set>
                    <mat-chip>Yards: 170</mat-chip>
                    <mat-chip>Par: 3</mat-chip>
                    <mat-chip>Handicap: 6</mat-chip>
                  </mat-chip-set>
                </mat-card-footer>
    
              </mat-card>
    
        </div>
    
        <div class="hole-card-wrapper">
    
            <mat-card class="hole-card" appearance="outlined">
    
                <mat-card-header>
                  <mat-card-title>Hole Three</mat-card-title>
                </mat-card-header>
    
                <mat-card-content>
                  <p>{{hole3}}</p>
                </mat-card-content>
    
                <mat-card-footer class="hole-card-footer">
                  <mat-chip-set>
                    <mat-chip>Yards: 331</mat-chip>
                    <mat-chip>Par: 4</mat-chip>
                    <mat-chip>Handicap: 4</mat-chip>
                  </mat-chip-set>
                </mat-card-footer>
    
              </mat-card>
    
        </div>

        <div>
            <img src="/scenic1.JPG"/>
        </div>

        <div>
            <img src="/scenic1.JPG"/>
        </div>
    
        <div class="hole-card-wrapper">
    
            <mat-card class="hole-card" appearance="outlined">
    
                <mat-card-header>
                  <mat-card-title>Hole Four</mat-card-title>
                </mat-card-header>
    
                <mat-card-content>
                  <p>{{hole4}}</p>
                </mat-card-content>
    
                <mat-card-footer class="hole-card-footer">
                  <mat-chip-set>
                    <mat-chip>Yards: 387</mat-chip>
                    <mat-chip>Par: 4</mat-chip>
                    <mat-chip>Handicap: 2</mat-chip>
                  </mat-chip-set>
                </mat-card-footer>
    
              </mat-card>
    
        </div>
    
        <div class="hole-card-wrapper">
    
            <mat-card class="hole-card" appearance="outlined">
    
                <mat-card-header>
                  <mat-card-title>Hole Five</mat-card-title>
                </mat-card-header>
    
                <mat-card-content>
                  <p>{{hole5}}</p>
                </mat-card-content>
    
                <mat-card-footer class="hole-card-footer">
                  <mat-chip-set>
                    <mat-chip>Yards: 126</mat-chip>
                    <mat-chip>Par: 3</mat-chip>
                    <mat-chip>Handicap: 9</mat-chip>
                  </mat-chip-set>
                </mat-card-footer>
    
              </mat-card>
    
        </div>

        <div>
            <img src="/scenic1.JPG"/>
        </div>

        <div>
            <img src="/scenic1.JPG"/>
        </div>
    
        <div class="hole-card-wrapper">
    
            <mat-card class="hole-card" appearance="outlined">
    
                <mat-card-header>
                  <mat-card-title>Hole Six</mat-card-title>
                </mat-card-header>
    
                <mat-card-content>
                  <p>{{hole6}}</p>
                </mat-card-content>
    
                <mat-card-footer class="hole-card-footer">
                  <mat-chip-set>
                    <mat-chip>Yards: 473</mat-chip>
                    <mat-chip>Par: 5</mat-chip>
                    <mat-chip>Handicap: 3</mat-chip>
                  </mat-chip-set>
                </mat-card-footer>
    
              </mat-card>
    
        </div>
    
        <div class="hole-card-wrapper">
    
            <mat-card class="hole-card" appearance="outlined">
    
                <mat-card-header>
                  <mat-card-title>Hole Seven</mat-card-title>
                </mat-card-header>
    
                <mat-card-content>
                  <p>{{hole7}}</p>
                </mat-card-content>
    
                <mat-card-footer class="hole-card-footer">
                  <mat-chip-set>
                    <mat-chip>Yards: 315</mat-chip>
                    <mat-chip>Par: 4</mat-chip>
                    <mat-chip>Handicap: 8</mat-chip>
                  </mat-chip-set>
                </mat-card-footer>
    
              </mat-card>
    
        </div>

        <div>
            <img src="/scenic1.JPG"/>
        </div>

        <div>
            <img src="/scenic1.JPG"/>
        </div>
    
        <div class="hole-card-wrapper">
    
            <mat-card class="hole-card" appearance="outlined">
    
                <mat-card-header>
                  <mat-card-title>Hole Eight</mat-card-title>
                </mat-card-header>
    
                <mat-card-content>
                  <p>{{hole8}}</p>
                </mat-card-content>
    
                <mat-card-footer class="hole-card-footer">
                  <mat-chip-set>
                    <mat-chip>Yards: 175</mat-chip>
                    <mat-chip>Par: 3</mat-chip>
                    <mat-chip>Handicap: 1</mat-chip>
                  </mat-chip-set>
                </mat-card-footer>
    
              </mat-card>
    
        </div>
    
        <div class="hole-card-wrapper">
    
            <mat-card class="hole-card" appearance="outlined">
    
                <mat-card-header class="hole-card-header">
                  <mat-card-title></mat-card-title>
                </mat-card-header>
    
                <mat-card-content class="hole-card-content">
                  <p>{{hole9}}</p>
                </mat-card-content>
    
                <mat-card-footer class="hole-card-footer">
                  <mat-chip-set>
                    <mat-chip>Yards: 300</mat-chip>
                    <mat-chip>Par: 4</mat-chip>
                    <mat-chip>Handicap: 5</mat-chip>
                  </mat-chip-set>
                </mat-card-footer>
    
              </mat-card>
    
        </div>

        <div>
            <img src="/scenic1.JPG"/>
        </div>


    </div>

    
    
    
      

</div>

