<h1>Book Your Tee Time</h1>

<div class="tee-time-page-wrapper">

    <!-- <div class="tee-time-page-component-content"> -->

        <app-filter-panel></app-filter-panel>
    
        <div class="tee-time-grid">
            
            <app-tee-time 
                *ngFor="let teeTime of teeTimes" 
                [time]="teeTime.time"
                [slotsLeft]="teeTime.slotsLeft.toString()"
                [price]="teeTime.price.toString()"
            ></app-tee-time>
        </div>
    <!-- </div> -->
    
</div>

<!-- <app-book-time-panel></app-book-time-panel> -->

