
<div class="footer">

    <img src="/logo-white.png"/>

    <div class="footer-center">
        <h5>St. Ann Golf Club</h5>

        <p>4100 Ashby Rd.</p>
        <p>Saint Ann, MO 63074</p>

        <p>(314) 423-6400</p>
    </div>

    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/pages/St%20Ann%20Golf%20Course/120277514656216/">
        <img id="img-facebook" src="/facebook.png"/>
    </a>
    

</div>

<!--


<section class="footer-grid">


    <div>
        <img src="/logo.JPG"/>
    </div>

    <div class="footer-center">
        <h5>St. Ann Golf Club</h5>

        <p>4100 Ashby Rd.</p>
        <p>Saint Ann, MO 63074</p>

        <p>(314) 423-6400</p>
    </div>

    <div>
        <img src="/facebook.png"/>
    </div>

    <div>
    </div>

    <div>Copyright© James Pieper</div>
    

</section>

*/

-->