
.footer {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20rem;

    background-color: #c5baaf;
}

.footer-center {
    text-align: center;
    
    /* color: #1b512d; */
}

.footer-center h5 {
    font-size: 18px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    text-align: center;
}

img {
    height: 100px;
}

/* #img-facebook {
    height: 50px;
} */


    
    